.header {
  background-color: rgba(0, 0, 0, 0.2);
}

.header-big-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13.7rem;
  padding: 2.75rem 0;
}

nav ul {
  display: flex;
  gap: 4rem;
  align-items: center;
}

nav ul li a {
  font-family: Muli-Bold;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #EE3364;
}

.header-bg-icons {
  display: flex;
  gap: 1.3rem;
}

.logo-text {
  font-family: Poppins-ExtraBold;
  font-size: 4rem;
  color: #fff;
  margin-right: auto;
}

.red-dot {
  color: #ee3364;
}
